body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
}

.top {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    display: flex;
    gap: 25px;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-talks {
    display: flex;
    max-width: 500px;
    flex-wrap: wrap;
}
