body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-left: -3.6em;
    align-items: center;
    min-width: 710px;
}

.links {
    display: flex;
    gap: 25px;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-talks {
    display: flex;
    max-width: 400px;
    flex-wrap: wrap;
}

.hero-statement {
    max-width: 200px;
    margin-bottom: 0;
}

.hero-text {
    margin-top: 0;
}
