body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    background-color: #1F2937;
    color: #F9FAF8;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 160px;
}

.logo {
    display: flex;
    font-size: 24px;
}

.links {
    display: flex;
    gap: 25px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.hero-talks {
    display: flex;
    max-width: 450px;
    flex-wrap: wrap;
}

.hero-statement {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    max-width: 400px;
    margin-bottom: 0;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
}
